.contact-div{
    display: flex;
    align-items: center;
}
.message{
    width: 30px;
    display: inline-block;
    margin: 0px;
}
.contact-button{
    background-color: white;
    color: black;
    border: 3px;
    border-style: solid;
    border-top-color: rgb(31, 117, 206);
    border-left-color: rgb(23, 121, 207);
    border-right-color: rgb(23, 121, 207);
    border-bottom-color:rgb(116, 75, 196);
    position: fixed;
    bottom: 30px;
    right: 17px;
    border-radius: 60px;
    padding: 10px 35px;
    z-index: 50;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 15px 0px;
    cursor: pointer;
}
.contact-button p{
    display: inline-block;
    font-family: gdsherpa,Helvetica;
    margin: 0;
    font-weight: bold;

}