.header{
    display: flex;
    height: 100px;
}
.left{
    width: 250px;
    align-items: center;
    position: relative;

}
.logo{
    padding-top: 25px;
    width: 200px;
    padding-left: 22px;
    cursor: pointer;
}
.india{
    position: absolute;
    right: 40px;
    bottom: 12px;
    font-size: 12px;
    margin-bottom: 0ch;
    color: rgb(17, 17, 17);
    font-family: gdsherpa,Helvetica;
    cursor: pointer;
}
.middle{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 300px;
}
.menu{
    font-family: gdsherpa,Helvetica;
    color: grey;
    font-size: 15px;
}
.menu:hover{
    cursor: pointer;
    color: rgb(46, 46, 46);
}
.right{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 55px;
}
.right p{
    display: inline-block;
    font-size: 15px;
    font-family: gdsherpa,Helvetica;
    font-weight: 100;
    cursor: pointer;
    transition: 0.5s;
}
.right-menu:hover{
    display: inline-block;
    font-size: 15px;
    font-family: gdsherpa,Helvetica;
    font-weight: 100;
    cursor: pointer;
    text-decoration: underline;
    transition: 1s;

}
.down-icon{
    width: 15px;
    cursor: pointer;
}
.shop-icon{
    width: 27px;
    cursor: pointer;
}